.h2
{
text-align:center;
text-decoration:none;
background-color: pink;
color:white;
}

.a{
   text-decoration: none;
   text-color:white;
   
}

#ulstyle{
background-color:aquamarine;
color:black;



}


